body{
font-family:'Poppins',sans-serif;
scroll-behavior:smooth;
background:linear-gradient(120deg,#fdfbfb,#ebedee);
}

/* Custom Scrollbar */

::-webkit-scrollbar{
width:10px;
}

::-webkit-scrollbar-track{
background:#f1f1f1;
}

::-webkit-scrollbar-thumb{
background:linear-gradient(180deg,#00c6ff,#0072ff);
border-radius:10px;
}

::-webkit-scrollbar-thumb:hover{
background:#005bea;
}

.skill-card{
background:white;
padding:40px;
margin:10px;
border-radius:12px;
box-shadow:0 10px 20px rgba(0,0,0,0.08);
text-align:center;
min-width:140px;
max-height: 200px;
transition:.4s;
}

.skill-card:hover{
transform:translateY(-10px) scale(1.02);
box-shadow:0 20px 40px rgba(0,0,0,0.15);
}

.animate-scroll{
animation:scrollSkills 15s linear infinite;
}

@keyframes scrollSkills{
0%{
transform:translateX(0);
}
100%{
transform:translateX(-50%);
}
}
